---
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets";
import map from "../../assets/image/map.png";
import { getAllboulangerie } from "../../../backend/backend.mjs";
import Cardboulangerie from "../../components/cardboulangerie.astro";
import MapComponent from "../../components/map.jsx";
const boulangeries = await getAllboulangerie()
---

<Layout>



    <h1 class="text-center text-[#8B5461]">Nos boulangeries</h1>
      <h2 class="text-2xl font-bold mb-4">
    <div style="margin: 50px; padding: 1rem; font-family: sans-serif ;">
      <MapComponent client:only />
    </div>
  </h2>
   <div class="col-span-2 grid grid-cols-3 gap-8">
        {boulangeries.length > 0 ? (
            boulangeries.map((allboulangerie) => (
            <Cardboulangerie {...allboulangerie} />
        ))
        ) : (
            <p class="text-center text-gray-500">Aucun article trouvé.</p>
        )}
    </div>
</Layout>