---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <h1 class="text-center text-[#8B5461] mb-16">Panier</h1>
    <div class="grid grid-cols-3">
    <div class=" relative bg-[#8B5461] opacity-50 px-6 py-8  rounded-2xl h-24 col-start-1 col-span-2 mb-12" >
        <h2 class="text-black font-black">TOUS LES PRODUITS</h2>
</div>
<div class=" relative bg-[#8B5461] opacity-50 px-6 py-8  rounded-2xl h-120 col-start-1 col-span-2 mb-12" >
        <h2 class="text-black font-black">La Fournée du Padre</h2>
</div>
<div class=" relative bg-[#8B5461] opacity-50 px-6 py-8  rounded-2xl h-72 col-start-1 col-span-2 mb-12" >
        <h2 class="text-black font-black">Terroir des pains</h2>
    </div>
</Layout>