---
import Layout from "../../layouts/Layout.astro"
import Cardarticle from "../../components/cardarticle.astro"
import { getAllarticle } from "../../../backend/backend.mjs"
const articles = await getAllarticle()
---

<Layout>
    <h1 class="text-center text-[#8B5461]">Liste des articles</h1>

    <div>
        {articles.length > 0 ? (
                    articles.map((allarticle) => (
            <Cardarticle {...allarticle} />
        ))
        ) : (
            <p class="text-center text-gray-500">Aucun article trouvé.</p>
        )}
    </div>
</Layout>