---
import Map from '../components/map.jsx';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Carte simple</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin=""
    />
  </head>
  <body style="margin: 0; padding: 1rem; font-family: sans-serif;">
    <h1>Carte Leaflet simple</h1>
    <Map boulangeries={[]} client:load />
  </body>
</html>
